# 忽略编译生成的可执行文件
/bin/
/*.exe

# 忽略依赖管理工具生成的目录
/vendor/

# 忽略 Go 模块缓存
/go/pkg/mod/

# 忽略 Go 构建缓存
/go/bin/
/go/pkg/

# 忽略 IDE 或编辑器生成的配置文件
.idea/
.vscode/
*.swp
*.swo

# 忽略测试生成的临时文件
*.test
*.out

# 忽略日志文件
*.log

# 忽略环境变量文件
.env

# 忽略用户特定的配置文件
*.local

# 忽略其他临时文件
/tmp/
